---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
import Breadcrumb from '@components/widgets/breadcrumb.astro';
import Hero from '@components/widgets/Hero.astro'
import ephesus from '@components/assets/images/ephesus-museum.jpg';
import ephesus2 from '@components/assets/images/ephesus-museum2.jpg';
import KusadasiInfo from '@components/widgets/EphesusInfoFeatures.astro';
import Image from '@components/common/Image.astro';

const metadata = {
  title: 'Ephesus Indoor Museum',
};
---


<Base meta_title="Ephesus Indoor Museum">
  <Page title="Ephesus Indoor Museum">
      <Hero
    tagline=""
    title="Ephesus Indoor Museum"
    subtitle="Exploring the Indoor Museum"
    image={{
      src: ephesus,
      alt: 'Ephesus',
    }}
  />


  <section class="px-4 md:px-6 py-2 sm:py-2 lg:py-2 mx-auto max-w-4xl">

<p class="text-base">

    The Museum of Ephesus, located in the Selcuk district, showcases artifacts 
    unearthed during excavations in Ephesus since 1964. Expanded in 1976, the museum 
    houses a collection of sculptures, including those from the Temple of Augustus (or Isis), 
    as well as a marble sundial from the 3rd century A.D. Notable exhibits include frescoes
     depicting Socrates and sculptural elements from fountains, such as the Warrior's Rest
      marble and a head of Zeus. Additionally, the museum features findings from tombs and 
      representations of the Ephesian Artemis, including the Great Artemis sculpture. 
      Among the highlights are sculptured friezes from the Temple of Hadrian, 
      relocated to protect them from the elements.


</p> 
<br>
<Image src={ephesus2} alt="Ephesus" class="rounded-md mb-4"/>  











    </section>


    <KusadasiInfo />
  
  <!-- Breadcrumb -->


<Breadcrumb firstText="Ephesus" firstLink="/ephesus" title={metadata.title} />

  </Page>
</Base>