---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="About US">
    <p>
     Hello, I'm Umit, but I'm no longer actively maintaining this website. 
     I want to caution you that much of the content here may be outdated. 
     I created this site years ago, and since then, Kusadasi has changed significantly, and not for the better.
      While browsing through the pages, you'll see the immense potential this resort town once had, but regrettably, 
      it's now facing various challenges. However, if you need to reach me, you can contact me via my Instagram account:
<br /><br />
      <a href="https://www.instagram.com/iamtravelr">https://www.instagram.com/iamtravelr</a>
    </p>

   
  </Page>
</Base>
