---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
import Breadcrumb from '@components/widgets/breadcrumb.astro';
import Hero from '@components/widgets/Hero.astro'
import KusadasiInfo from '@components/widgets/AroundInfoFeatures.astro';
import Image from '@components/common/Image.astro';
import photo from '@components/assets/images/samos.jpg';



const metadata = {
  title: 'Samos Island, Greece',
};
---


<Base meta_title={metadata.title}>
  
  <Page title={metadata.title}>
      <Hero
    tagline=""
    title={metadata.title}
    subtitle="Samos Island: Serene Retreat for Kusadasi Adventurers."
    image={{
      src: photo,
      alt: 'Samos Island, Greece',
    }}
  />


 

  <!-- Features2 Widget ************** -->
  <section class="px-4 md:px-6 py-2 sm:py-2 lg:py-2 mx-auto max-w-4xl">


<p class="text-base">


</p> 



<br>

<p class="text-base">
  
Embark on a journey from Kusadasi to the captivating Samos Island, just a stone's 
throw away from the Turkish coast. Accessible via a scenic ferry ride, Samos beckons 
with its rich history, stunning landscapes, and vibrant culture. As a Kusadasi traveler,
 you'll find yourself immersed in the allure of this Greek island, where every corner is
  steeped in myth and legend.
</p> <br>
<p class="text-base">
    Explore the island's ancient wonders, from the awe-inspiring ruins of Heraion, a 
    UNESCO World Heritage Site dedicated to the goddess Hera, to the fascinating 
    archaeological museum in Vathy, showcasing artifacts spanning millennia.
     Take leisurely strolls through picturesque villages adorned with whitewashed houses
      and vibrant bougainvillea, where time seems to stand still. Indulge in delicious 
      Greek cuisine at seaside tavernas, savoring fresh seafood and local specialties 
      accompanied by panoramic views of the Aegean Sea.
</p> <br>

    <p class="text-base">
        Whether you're seeking sun-soaked beaches, cultural treasures, or simply a peaceful 
        escape from the bustle of Kusadasi, Samos Island offers a perfect retreat for
         every traveler. With its blend of history, natural beauty, and warm hospitality,
          Samos invites you to uncover its hidden gems and create unforgettable memories
           along the shores of the Eastern Mediterranean.
</p> <br>



   </section>


    <KusadasiInfo />
  
  <!-- Breadcrumb -->


<Breadcrumb firstText="Around" firstLink="/misc/" title={metadata.title} />

  </Page>
</Base>
